body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Shape1
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#wb_Heading10
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: center;
}
#Heading10
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   margin: 0;
   text-align: center;
}
#wb_FontAwesomeIcon10
{
   background-color: #FFDEAD;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_FontAwesomeIcon10:hover
{
   background-color: rgba(255,222,173,0.00);
   background-image: none;
   border: 0px solid #FFFFFF;
}
#FontAwesomeIcon10
{
   height: 32px;
   width: 32px;
}
#FontAwesomeIcon10 i
{
   color: #18191A;
   display: inline-block;
   font-size: 32px;
   line-height: 32px;
   vertical-align: middle;
   width: 26px;
}
#wb_FontAwesomeIcon10:hover i
{
   color: #428BCA;
}
#wb_FontAwesomeIcon1
{
   background-color: #FFDEAD;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: rgba(255,222,173,0.00);
   background-image: none;
   border: 0px solid #FFFFFF;
}
#FontAwesomeIcon1
{
   height: 32px;
   width: 32px;
}
#FontAwesomeIcon1 i
{
   color: #18191A;
   display: inline-block;
   font-size: 32px;
   line-height: 32px;
   vertical-align: middle;
   width: 30px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #428BCA;
}
#wb_FontAwesomeIcon2
{
   background-color: #FFDEAD;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: rgba(255,222,173,0.00);
   background-image: none;
   border: 0px solid #FFFFFF;
}
#FontAwesomeIcon2
{
   height: 32px;
   width: 32px;
}
#FontAwesomeIcon2 i
{
   color: #18191A;
   display: inline-block;
   font-size: 32px;
   line-height: 32px;
   vertical-align: middle;
   width: 24px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #428BCA;
}
#wb_FontAwesomeIcon3
{
   background-color: #FFDEAD;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_FontAwesomeIcon3:hover
{
   background-color: rgba(255,222,173,0.00);
   background-image: none;
   border: 0px solid #FFFFFF;
}
#FontAwesomeIcon3
{
   height: 32px;
   width: 32px;
}
#FontAwesomeIcon3 i
{
   color: #18191A;
   display: inline-block;
   font-size: 32px;
   line-height: 32px;
   vertical-align: middle;
   width: 24px;
}
#wb_FontAwesomeIcon3:hover i
{
   color: #428BCA;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
